<footer class="page-footer" style="background: #fff">
    <div class="maincontainer">
      <div
        class="box"
        style="
          padding: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
        "
      >
        <div style="color: #000">
          <div class="row">
            <div class="col s12">
              <div style="display: flex;
                          flex-direction: row;">
                <span><img src="/static/medassist_logo copy.png" width="90px"
                  height="70px" alt=""></span>
                <span style="font-size: x-large; height: 70px; font-family: cursive;font-weight: bold;margin-top: 15px;">Med-Assist</span>
                </div>
              
              <p>
                Med-Assist.com is one of India’s most trusted pharmacies,
                dispensing quality medicines at reasonable prices to over 7
                million happy customers – PAN India.
              </p>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col s3">
              <ul style="color:#000">
                <li style="padding-bottom: 15px">
                  <b>COMPANY</b>
                </li>
                <a href="#a"> <li style="color:#000;padding-top: 10px;">About Med-Assist</li> </a>
                <a href="#b"> <li style="color:#000;padding-top: 10px;">Customers Speak</li> </a>
                <a href="#c"> <li style="color:#000;padding-top: 10px;">In the News</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Career</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Terms and Conditions</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Privacy Policy</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Fees and Payments Policy</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Shipping and Delivery Policy</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Return, Refund and Cancellation Policy</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Contact</li> </a>
              </ul>
            </div>

            <div class="col s3">
              <ul>
                <li style="padding-bottom: 15px">
                  <b>SHOPPING</b>
                </li>
               <a href=""> <li style="color:#000;padding-top: 10px;">Browse by A-Z</li> </a>
               <a href=""> <li style="color:#000;padding-top: 10px;">Browse by Manufacturers</li> </a>
               <a href=""> <li style="color:#000;padding-top: 10px;">Health Articles</li> </a>
               <a href=""> <li style="color:#000;padding-top: 10px;">Offers / Coupons</li> </a>
               <a href=""> <li style="color:#000;padding-top: 10px;">FAQs</li> </a>
              </ul>
            </div>

            <div class="col s3">
              <ul>
                <li style="padding-bottom: 15px">
                  <b>SOCIAL</b>
                </li>
                <a href=""> <li style="color:#000;padding-top: 10px;">Patients Alike</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Facebook</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Twitter</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">LinkedIn</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Youtube</li> </a>
                <a href=""> <li style="color:#000;padding-top: 10px;">Refer & Earn</li> </a>
              </ul>
            </div>

            <div class="col s3">
              <ul>
                <li style="padding-bottom: 15px">
                  <b>SUBSCRIBE TO OUR NEWSLETTER</b>
                </li>
                <p>
                  Get a free subscription to our health and fitness tip and
                  stay tuned to our latest offers
                </p>

                <span class="input-field inline">
                  <input
                    id="email_inline"
                    type="email"
                    class="validate"
                    style="font: black"
                  />
                  <label for="email_inline">Email</label>
                </span>
                <span>
                  <button
                    class="btn waves-effect waves-white btnsize #01a3a4 btnstyle editbtn"
                    name="action"
                    type="submit"
                  >
                    &rarr;
                    <i class="material-icons right"></i>
                  </button>
                </span>
              </ul>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col s2">
              <ul>
                <a href=""><li style="color:#000">
                  <b>Medicine</b>
                </li></a>
              </ul>
            </div>

            <div class="col s2">
              <ul>
                <a href=""><li style="color:#000">
                  <b>Wellness</b>
                </li></a>
              </ul>
            </div>

            <div class="col s2">
              <ul>
                <a href=""><li style="color:#000">
                  <b>Lab Tests</b>
                </li></a>
              </ul>
            </div>

            <div class="col s2">
              <ul>
                <a href=""><li style="color:#000">
                  <b>Beauty</b>
                </li></a>
              </ul>
            </div>

            <div class="col s4">
              <ul>
                <li>
                  <b>Copyright© 2022. All Rights Reserved.</b>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
